body, #mainWrapper {
	height: 70%;
	background-color:lightseagreen;
}

body, .form-control{
	font-size:17px!important;
}

.floatRight{
	float:right;
	margin-right: 25px;
}

.has-error{
	color:red;
}

.formcontainer{
	background-color: springgreen;
	padding: 20px;

}

.tablecontainer{
	padding-left: 20px;
    background-color: palegreen;

}

.generic-container {
  width:80%;
  margin-left: 130px;
  margin-top: 40px;
  margin-bottom: 100px;
  padding: 17px;
  background-color: mediumseagreen;
  border: 5px solid #ddd;
  border-radius: 30px;
  box-shadow: 0 0 10px black;
}

.custom-width {
    width: 80px !important;
}
